<!-- templates/base.html -->
{% load static %}
<html>
  <head>
    <title>Django blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header>
      <div class="nav_left">
        <h1><a href="{% url 'home' %}">Django blog</a></h1>
      </div>

      <div class="nav_right">
        <a href="{% url 'new_post' %}">new post</a>
      </div>
    </header>
    <div>
      {% if user.is_authenticated %}
      <p>Hi {{ user.username }}!</p>
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" />
      </form>
      {% else %}
      <p><a href="{%url 'login'%}">Login</a></p>
      {%endif%}
      <!-- end of if block -->
      {% block content %}
      <!-- yooo -->
      {% endblock content %}
    </div>
  </body>
</html>
